header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	border-bottom: 1px solid black;
	font-size: 16px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	nav {
		display: flex;
		flex-direction: row;
		gap: 2px;
		a {
			padding: 0 16px 0;
			white-space: nowrap;
			overflow: hidden;
			align-items: center;
			text-decoration: none;
			display: flex;

			&.active {
				background-color: #e6e6e6;
			}

			&.inactive {
				background-color: #00000019;

			}
			&:hover {
				background-color: #ededed;
			}
		}
	}
}

main {
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;

	>div#content {
		height: calc(100vh - 182px);
		margin: auto;
		padding: 40px 30px;
		flex-direction: column;
		text-align: center;
		display: flex;
		max-width: 750px;
	}

	.member {
		white-space: nowrap;
	}
}

.hidden {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#buttonList {
	display: flex;
	flex-direction: column;

	a.button {
		min-width: 100px;
		width: fit-content;
		background-color: #28a745;
		color: #ffffff;
		padding: 10px;
		padding-right: 40px;
		text-decoration: none;
		border-radius: 5px;
	}

	a.button:hover {
		background-color: #218838;
	}
}