header.layout {
	width: 100vw;
	height: 50px;
	background-color: black;
	position: relative;

	>div:has(div#form) {
		position: absolute;
		right: 0;
		--width: 225px;
		width: var(--width);
		height: 100%;
		display: grid;
		grid-template: 'a b' 100% 'c c' auto / 1fr 1fr;

		>div:not(#form) {
			grid-area: a;
			background-color: gray;
		}

		>button {
			grid-area: b;
			width: calc(var(--width) / 2);
			height: 100%;
		}

		div#form {
			grid-area: c;
			position: relative;
		}

		form.auth {
			--height: 25px;
		}


	}
}